<div class="message <%= message.user == current_user ? 'message-me' : 'message-you' %>"
  id="message-<%= message.id %>" data-author="<%= message.user.id %>" >
  <h3 class="sent-at" >
    <%= message.chat_message_time %>
  </h3>
  <div class="d-flex card-chat-message "> 
    <p><%= message.content %></p>
  </div>
</div>
