<h1><%= @chatroom.get_other_user(current_user).username %></h1>
<h2><%= @chatroom.book.title %></h2>
<h2 class="border-bottom"><%= @chatroom.book.author %></h2>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<div class="text-center d-flex my-4 position-relative">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message...", class: "form-control chat-bar"%>
  <% end %>

  <%= button_tag(class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
    <i class="fab fa-telegram-plane"></i>
  <% end %>
</div>

<%= render 'shared/nav-bottom' %>
