<div class="fafafa">
  <div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
    <%= link_to messages_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>

    <%= image_tag "1953.png", class: "", style:"height:20px"%>
  </div>

  <div class="card-message d-flex b-sh align-items-center px-2 py-2 flex-grow-1 mx-3">
    <%= link_to user_path(@chatroom.get_other_user(current_user)) do %>
      <div class="avatar-50 mr-2" style="background-image: url(' <%= cl_image_path @chatroom.get_other_user(current_user).photo.key%>')"></div>
    <% end %>
    <div class="chatroom-info flex-grow-1">
      <%= link_to user_path(@chatroom.get_other_user(current_user)) do %>
        <h2> <%= @chatroom.get_other_user(current_user).first_name.capitalize %> </h2>
      <% end %>
      <%= link_to library_book_path(@chatroom.library_book.id) do %>
        <p><%= @chatroom.library_book.book.title %></p>
        <p><%= @chatroom.library_book.book.author %></p>
      <% end %>
      

      <% if @chatroom.library_book.library.user == current_user %> 
        
        <% if @chatroom.swap_request.status == 'accepted' %>
          <p>You swapped this book! Go you!</p>
        <% elsif @chatroom.library_book.status == 'swapped' %>
          <p>You already swapped this book</p>
        <% elsif @chatroom.swap_request.status == 'pending' %>
          <%= link_to "SWAP!", swap_path(@chatroom), class: "btn genre mt-1" %>
        <% end %>

      <% else %>

        <% if @chatroom.library_book.status == 'swapped' %>
          <p>This book is not available</p>
        <% elsif @chatroom.swap_request.status == 'pending' %>
          <p>Pending swap</p>
        <% elsif @chatroom.swap_request.status == 'accepted'%>
          <p>Swap accepted!</p>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="container app-container app-container-pink mt-2 pt-4 d-flex flex-column justify-content-end">
    
    <% unless Chatroom.all.empty? %>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.order(:created_at).each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>

<div class="chat-input mx-2">
  <div class="text-center d-flex mt-4 position-relative">
    <%= simple_form_for [ @chatroom, @message ], remote: true, html: {class: "w-100"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Message...", input_html: {class: "white-bar"}%>
    <% end %>

    <%= button_tag(class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
      <i class="fab fa-telegram-plane"></i>
    <% end %>
  </div>
</div>

<%= render 'shared/nav-bottom' %>
