<h1><%= @chatroom.get_other_user(current_user).username %></h1>
<h2><%= @chatroom.book.title %></h2>
<h2 class="border-bottom"><%= @chatroom.book.author %></h2>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render partial: 'messages/message', locals: {message: message} %>
  <% end %>
</div>


<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message..." %>
<% end %>

<%= render 'shared/nav-bottom' %>
