<div class="profile-card b-sh pb-5 position-relative mb-5">
  <div class="d-flex align-items-center mb-3">
    <div class="avatar-100 mr-3" style="background-image: url(' <%= cl_image_path @user.photo.key%>')"></div>
    <div class="ml-1">
      <h2> <%= @user.first_name.capitalize%> <%= @user.last_name.capitalize%> </h2>
      <div class="d-flex align-items-center">
        <% if @user == current_user %>
          <%= link_to "Edit", edit_user_registration_path, class: "btn genre " %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn-small-green-ghost ml-2 text-decoration"%>
        <% end %>
      </div>
      <p class="mt-2">
        <i class="fas fa-map-marker-alt"> &nbsp;</i>
        <%= Geocoder.search("#{@user.latitude},#{@user.longitude}").first.data["address"]["city"] %>
      </p>
    </div>
  </div>

  <p style="font-size: 14px" class="mb-2"><strong>About me</strong></p>
  <p> <%= @user.bio %> </p>

  <div class="d-flex justify-content-center">
    <div class="stats d-flex justify-content-between text-center align-items-center position-absolute">
      <div class="books-count">
        <h2><%= @library_books.count %></h2>
        <h3>books</h3>
      </div>
      <div class="wishes-count">
        <h2><%= @wishlist_books.count %></h2>
        <h3>Wishes</h3>
      </div>
      <div class="swaps-count">
        <h2> <%= @swaps %></h2>
        <h3>swaps</h3>
      </div>
    </div>
    </div>
  </div>
</div>
