<div class="fafafa">
  <div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
    <h1>Profile</h1>

    <%= link_to destroy_user_session_path, method: :delete do  %>
      <i class="fas fa-ellipsis-v"></i>
    <% end %>

  </div>

  <div class="container sm-12 p-4">

    <div class="profile-card b-sh-strong pb-5 position-relative mb-5">
      <div class="d-flex align-items-center mb-3">
        <div class="avatar-100 mr-5" style="background-image: url(' <%= cl_image_path @user.photo.key%>')"></div>
        <div>
          <h2> <%= @user.first_name%> <%= @user.last_name%> </h2>
          <%= link_to "Edit my profile", edit_user_registration_path, class: "btn genre" %>
        </div>
      </div>

      <p><strong>About me</strong></p>
      <p> <%= @user.bio %> </p>

    <div class="d-flex justify-content-center">
        <div class="stats d-flex justify-content-between text-center align-items-center position-absolute">
          <div class="books-count">
            <h2><%= @library_books.count %></h2>
            <h3>books</h3>
          </div>
          <div class="wishes-count">
            <h2><%= @wishlist_books.count %></h2>
            <h3>Wishes</h3>
          </div>
          <div class="swaps-count">
            <% #TODO: fix number of swaps %>
            <h2> <%= @user.swap_requests.where(status: 'accepted').count %></h2>
            <h3>swaps</h3>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container app-container b-sh-strong mt-5">

    <ul class="list-inline tabs-underlined p-3 justify-content-center">
      <li>
        <a href="#" id="profile-link-library" class="tab-underlined active">My Bookshelf</a>
      </li>
      <li>
        <a href="#wishlist" id="profile-link-wishlist" class="tab-underlined">My Wishlist</a>
      </li>
    </ul>


<!-- HERE PUT LIBRARY AND WISHLIST + "Add book" with HIDE/SHOW CLASS-->

      <div class="profile-library pb-3">

        <div class="d-flex justify-content-center">
          <%= link_to new_book_path, class: "btn btn-pink" do %>
            <i class="fas fa-plus"></i>  Add a book
          <% end %>
        </div>

        <% @library_books.each do |lib_book| %>

          <div class="book-results-card d-flex b-sh my-4">
            <div class="image" style="background-image: url('<%= cl_image_path lib_book.book.photo.key %>')"></div>
            <div class="information p-3">

              <%= link_to library_book_path(lib_book) do %>
                <h2><%= lib_book.book.title %></h2>
              <% end %>

              <div>
                <p><%= lib_book.book.author %></p>
              </div>

              <div class="d-flex space-between">
                 <div class="tags d-flex">
                  <%= link_to lib_book.book.genre , library_books_path("?genre=#{lib_book.book.genre}"), class: "btn genre mr-2" %> <%#<< link doesn't work  %>
                </div>

                <div class="tags d-flex">
                  <%= link_to "╳ Delete",
                    delete_library_book_path(lib_book),
                    method: :delete, class: "btn genre mr-2", style: "background-color: #2CAEB1;",
                    data: { confirm: "Do you really want to delete #{lib_book.book.title} and all related conversations?", title: 'Delete from your Library', commit: 'Yes', cancel: 'Cancel'}
                  %>
                </div>

              </div>

              <% if lib_book.is_favoritable_to(current_user )%>
                <i class="fas fa-heart"></i>
              <% end %>
              </div>
            </div>

          <% end %>

        </div>


  <!-- WISHLIST -->

      <div class="profile-wishlist d-none pb-3">

        <div class="d-flex justify-content-center">
          <%= link_to new_book_path, class: "btn btn-pink" do %>
            <i class="fas fa-plus"></i>  Add to my Wishlist
          <% end %>
        </div>

        <% @wishlist_books.each do |wish_book| %>
          <div class="book-results-card d-flex b-sh my-4">
            <div class="image" style="background-image: url('<%= cl_image_path wish_book.book.photo.key %>')"></div>
            <div class="information p-3">

              <%= link_to library_book_path(wish_book) do %>
                <h2><%= wish_book.book.title %></h2>
              <% end %>

              <div>
                <p><%= wish_book.book.author %></p>
              </div>

              <div class="d-flex space-between">
                 <div class="tags d-flex">
                  <%= link_to wish_book.book.genre , library_books_path("?genre=#{wish_book.book.genre}"), class: "btn genre mr-2" %> <%#<< link doesn't work  %>
                </div>

                <div class="tags d-flex">
                  <%= link_to "💔 remove",
                    delete_wishlist_book_path(wish_book),
                    method: :delete, class: "btn genre mr-2", style: "background-color: #2CAEB1;",
                    data: { confirm: "Do you really want to delete #{wish_book.book.title} ?", title: 'Remove from wishlist', commit: 'Yes', cancel: 'Cancel'}
                  %>
                </div>

              </div>
                <i class="fas fa-heart"></i>
              </div>
            </div>

          <% end %>

        </div>




    </div>

  </div>
</div>

<%= render 'shared/nav-bottom' %>
