<div class="fafafa">
  <div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
    <h1>Profile</h1>

    <%= link_to '#' do  %>
      <i class="fas fa-ellipsis-v"></i>
    <% end %>
  </div>

  <div class="container sm-12 p-4">

    <div class="profile-card b-sh-strong pb-5 position-relative">
      <div class="d-flex align-items-center mb-3">
        <div class="avatar-100 mr-5" style="background-image: url(' <%= cl_image_path @user.photo.key%>')"></div>
        <div>
          <h2> <%= @user.first_name%> <%= @user.last_name%> </h2>
          <%= link_to "Edit my profile", "#", class: "btn genre" %>
        </div>
      </div>
      
      <p><strong>About me</strong></p>
      <p> <%= @user.bio %> </p>
      
      <div class="stats d-flex justify-content-between text-center align-items-center position-absolute">
        <div class="books-count">
          <h2>7</h2>
          <h3>books</h3>
        </div>
        <div class="swaps-count">
          <h2>3</h2>
          <h3>swaps</h3>
        </div>
      </div>
    </div>

    <p><strong>About me</strong></p>
    <p> <%= @user.bio %> </p>

    <div class="user-counter">
      <p><strong><%= @library_books.count %></strong> books</p>
      <p><strong>X</strong> swaps</p>
    </div>
  </div>

  <div class="container app-container b-sh-strong mt-5">
    <ul class="list-inline tabs-underlined p-3 justify-content-center">
      <li>
        <a href="#" class="tab-underlined active">My Bookshelf</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">My Wishlist</a>
      </li>
    </ul>

    <div class="d-flex justify-content-center">
      <%= link_to new_library_library_book_path(@user.libraries.first), class: "btn btn-pink" do %>
        <i class="fas fa-plus"></i>  Add a book
      <% end %>
    </div>

    
  <div class="d-flex justify-content-center">
    <%= link_to new_book_path, class: "btn btn-pink" do %>
      <i class="fas fa-plus"></i>  Add a book
    <% end %>
  </div>

    
  <% @library_books.each do |lib_book| %>

    <div class="book-results-card d-flex b-sh my-4">
      <div class="image" style="background-image: url('<%= cl_image_path lib_book.book.photo.key %>')"></div>
      <div class="information p-3">

        <%= link_to library_book_path(lib_book) do %>
          <h2><%= lib_book.book.title %></h2>
        <% end %>

        <p><%= lib_book.book.author %></p>

        <div class="tags d-flex">
          <%= link_to lib_book.book.genre , "#", class: "btn genre mr-2" %> <%#<< link doesn't work  %>
        </div>
        <% if lib_book.is_favoritable_to(current_user )%>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>
    
  <% end %>

  </div>

  </div>
</div>

<%= render 'shared/nav-bottom' %>


