<div class="nav-bottom fixed-bottom">
  <%= link_to library_books_path do %>
    <%= image_tag "navbar/home.png", class: "" %>
  <% end %>

  <div class="chat-bell">
    <%= image_tag "navbar/chat.png", class: "" %>
  </div>
  <div class="notification-bell">
    <%= image_tag "navbar/bell.png"%>
  </div>
<% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <%= image_tag 'https://res.cloudinary.com/dsz5gd9a3/image/upload/c_fill,h_140,w_140/v1615919274/pexels-taina%CC%81-bernard-3482526_vsfq1a.jpg',
                class: "avatar-30 mr-2", alt: "avatar" %>
    <% end %>
  <% else %>
    <%= link_to '#' do %>
      <%= image_tag "navbar/user.png" %>
    <% end %>
  <% end %>
  
</div>
