<div class="home-container">
  <% unless user_signed_in? %>
  <div class="nav-top d-flex p-4 justify-content-end align-items-center">
    <%= link_to user_session_path, class: "text-decoration" do %>
      <p class="btn-green btn-ghost mr-2 py-1 px-3">Log in</p>
    <% end %>
    <%= link_to new_user_registration_path, class: "text-decoration" do %>
      <p class="btn-green py-1 px-3">Sign up</p>
    <% end %>
  </div>
<% else %>
  <div class="d-flex justify-content-between align-items-center p-3">
    <div>
      <p class="mb-0 txt-light">Hello <%= current_user.first_name %>✌️ </p>
    </div>
    <div>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-green btn-ghost mr-2 py-1 px-3"%>
    </div>
  </div>
<% end %>


<div class="container p-4 sm-col-12 text-center"
     style="background-image: url(https://res.cloudinary.com/dtoner522/image/upload/v1615911570/home-img_tc3hke.png);
     background-repeat: no-repeat;
     background-position: bottom;
     background-size: 85%;
     height: 86vh;"
>

  <div class="text-center my-4">
    <%= image_tag "1953-home-logo.png", class: "w-50", style: "max-width: 300px;" %>
  </div>

  <%= link_to 'http://www.1953.live/library_books?query=Barcelona' do %>
    <p class="btn btn-green"><strong>Swap books in Barcelona</strong></p>
  <% end %>
  
  <!--
  <div class="text-center my-3 position-relative">
    <%= form_tag library_books_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control white-bar b-sh ",
            id: "address-input",
            placeholder: @location,
            onfocus: "this.placeholder = ''",
            onblur: "this.placeholder = 'type city or address...'"
          %>
      <%= button_tag(type: "submit", class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
        <i class="fas fa-map-marker-alt"></i>
      <% end %>
    <% end %>
  </div>
  -->

  <% if user_signed_in? %>
    <div class="justify-content-center pt-4 ">
      <div>
        <%= link_to new_book_path, class: "btn btn-pink halo-box" do %>
          <i class="fas fa-plus"></i>  Add a book
        <% end %>
      </div>
    </div>
  <% end %>

<!--   <div class="d-flex justify-content-center img-fluid">
    <%= cl_image_tag("https://res.cloudinary.com/dtoner522/image/upload/v1615911570/home-img_tc3hke.png", class: "home_img") %>
  </div> -->

</div>


</div>

<% if user_signed_in? %>
  <%= render 'shared/nav-bottom' %>
<% end %>
<%# test %>