<% unless user_signed_in? %>
  <div class="nav-top d-flex p-4 justify-content-end align-items-center">
    <%= link_to user_session_path  do %>
      <p class="mr-1">Log in</p>
    <% end %>
    <p>|</p>
    <%= link_to new_user_session_path  do %>
      <p class="ml-1">Sign up</p>
    <% end %>
  </div>
  <% end %>

<div class="home-container p-4 sm-col-12 text-center">
  <div>
    <h1 class="text-white logo mb-0 pb-0">1953</h1>
    <p class="text-white tagline">share your stories</p>
  </div>
  <p class="tagline-2">Find books near you</p>

  <div class="text-center my-4 position-relative">
    <%= form_tag library_books_path, method: :get do %>
     <%= text_field_tag :query,
          params[:query],
          class: "form-control white-bar b-sh text-center", 
          id: "address-input",
          placeholder: "Barcelona..."
        %>
    <%= button_tag(type: "submit", class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
      <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center img-fluid">
    <%= cl_image_tag("https://res.cloudinary.com/dtoner522/image/upload/v1615911570/home-img_tc3hke.png", class: "home_img") %>
  </div>
</div>

