<div class="fafafa pb-5">
  <div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
    <h1>Notifications</h1>

    <%= link_to '#' do  %>
      <% # TODO: replace with app icon %>
      <i class="fas fa-ellipsis-v"></i>
    <% end %>
  </div>

  <div class="container notifications-container pt-3">
    
    
    <% unless @user.chatrooms.empty? %>
      <% @notifications.each do |note| %>
        <% if note.library_book.status == "available" %> 
          <div class="card-message d-flex b-sh align-items-center px-2 py-1">
            <div class="notification not-chat mr-2">
              <%= image_tag "notifications/open-book.png", class: "" %>
            </div>
            <div class="message-info flex-grow-1">
              <p><strong><%= note.sender.first_name %> </strong>has requested a swap for your book <strong><%= note.library_book.book.title %>!</strong></p>
            </div>
          </div>
          <% end %>
      <% end %>
    <% end %>
  

    <div class="card-message d-flex b-sh align-items-center px-2 py-1">
      <div class="notification not-discover mr-2">
        <%= image_tag "notifications/magnifying-glass.png", class: "" %>
      </div>
      <div class="message-info flex-grow-1">
        <p>Discover new books in <strong>Barcelona</strong>.</p>
      </div>
    </div>
    <div class="card-message d-flex b-sh align-items-center px-2 py-1">
      <div class="notification not-wishlist mr-2">
        <%= image_tag "notifications/estrella.png", class: "" %>
      </div>
      <div class="message-info flex-grow-1">
        <p><strong>Agustina</strong> uploaded <strong>Eterno resplandor...</strong> in <strong>Ciudad de Medellin</strong>.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/nav-bottom' %>