<div class="fafafa pb-5">
  <div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
    <%= link_to root_path do  %>
      <%= image_tag "1953.png", class: "", style:"height:20px"%>
    <% end %>

    <h1>Notifications</h1>
  </div>

  <div class="container notifications-container pt-3">


  <!--swap accepted notification-->

  <% unless @notifications.empty? %>
    <% @notifications.each do |note| %>
      <% if note.sender.id == current_user.id && note.swap_request.status == "accepted" %>
        <div class="card-message d-flex b-sh align-items-center px-2 py-1">
        
          <div class="notification not-chat mr-2">
            <%= link_to chatroom_path(note) do %>
              <%= image_tag "notifications/open-book.png", class: "" %>
            <% end %>
          </div>
          
          <div class="message-info flex-grow-1">
            <p><strong><%= note.recipient.first_name.capitalize %> </strong>has accepted your swap request for <strong><%= note.library_book.book.title %>!</strong> Don't forget to mark which book you swapped for it :)</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

    <% if @library_books.empty? %>
      <%= link_to user_path(current_user) do %>
        <div class="card-message d-flex b-sh align-items-center px-2 py-1">
          <div class="notification not-chat mr-2">
              <%= image_tag "notifications/open-book.png", class: "" %>
          </div>
          <div class="message-info flex-grow-1">
            <p>You have no books in your library! Click here to go to your library and add a book :)</p>
          </div>
        </div>
      <% end %>
    <% end %>

    
    
      <!--swap request notification-->

    <% unless @notifications.empty? %>
      <% @notifications.each do |note| %>
        <% if note.sender.id != current_user.id && note.swap_request.status == "pending" %>
          <div class="card-message d-flex b-sh align-items-center px-2 py-1">
          
            <div class="notification not-chat mr-2">
              <%= link_to chatroom_path(note) do %>
                <%= image_tag "notifications/open-book.png", class: "" %>
              <% end %>
            </div>
            
            <div class="message-info flex-grow-1">
              <p><strong><%= note.sender.first_name.capitalize %> </strong>has requested a swap for your book <strong><%= note.library_book.book.title %>!</strong></p>
            </div>
          </div>
          <% end %>
      <% end %>
    <% end %>
  

    <div class="card-message d-flex b-sh align-items-center px-2 py-1">
      <div class="notification not-discover mr-2">
        <%= image_tag "notifications/magnifying-glass.png", class: "" %>
      </div>
      <div class="message-info flex-grow-1">
        <p>Discover new books in <strong>Barcelona</strong>.</p>
      </div>
    </div>
    <div class="card-message d-flex b-sh align-items-center px-2 py-1">
      <div class="notification not-wishlist mr-2">
        <%= image_tag "notifications/estrella.png", class: "" %>
      </div>
      <div class="message-info flex-grow-1">
        <p><strong>Agustina</strong> uploaded <strong>Eterno resplandor...</strong> in <strong>Ciudad de Medellin</strong>.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/nav-bottom' %>