<div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
  <h1>Profile</h1>

  <%= link_to '#' do  %>
    <i class="fas fa-ellipsis-v"></i>
  <% end %>
</div>

<div class="container app-container sm-12 p-4">

  <div class="profile-card">
    <div class="d-flex">
      <div class="avatar-140" style="background-image: url(' <%= cl_image_path @lib_book.book.photo.key%>')">
      <h2> <%= current_user.first_name%> <%= current_user.last_name%> </h2>
      <%= link_to "Edit my profile", "#", class: "btn genre" %>
    </div>
    
    <h2>About me</h2>
    <p> <%= current_user.bio %> </p>
    </div>
  </div>

  <div class="container app-container">
    <%= link_to "My Bookshelf", '#' %>

    <%= link_to "#", class: "btn btn-pink" do %>
      <i class="fas fa-plus"></i>  Add a book
    <% end %>

    <div class="book-results-card d-flex b-sh my-4">
      <div class="image" style="background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-thriller-book-cover-design-template-3675ae3e3ac7ee095fc793ab61b812cc_screen.jpg?ts=1588152105')"></div>
      <div class="information p-3">
        <h2>The king of drugs</h2>
        <p>Nora Barret</p>
        <div class="user-owner d-flex">
          <%= image_tag 'https://res.cloudinary.com/dsz5gd9a3/image/upload/c_fill,h_140,w_140/v1615919274/pexels-taina%CC%81-bernard-3482526_vsfq1a.jpg',
              class: "avatar-20 mr-2", alt: "avatar" %>
          <p>John Doe <span style="font-style: italic; color: gray; font-weight: 300">Berlin</span></p>
        </div>
        <div class="tags d-flex">
            <%= link_to "Fiction", "#", class: "btn genre mr-2" %>
        </div>
      </div>
    </div>

  </div>
</div>



@user
@user.library