<div class="container sm-12 px-4">
  
  <h1>Title</h1>
  <h2>Subtitle</h2>
  <p>Text</p>
  <h3>Notes</h3>
  
  <h2 class="mt-3 text-center">Buttons</h2>

  <%= link_to "Book now", "#", class: "btn btn-green" %>

  <%= link_to "Fiction", "#", class: "btn genre" %>

  <%= link_to "#", class: "btn icon-primary" do %>
    <i class="fas fa-search"></i>
  <% end %>
  
  <%= link_to "#", class: "btn btn-pink" do %>
    <i class="fas fa-plus"></i>  Add a book
  <% end %>
  
  <%= link_to "#", class: "btn icon-secondary" do %>
    <i class="fas fa-plus"></i>
  <% end %>


  <h2 class="mt-3 text-center">Search form</h2>
  
  <div class="search-bar text-center">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Barcelona...",
          style: "padding: 20px; border-radius: 20px;"
        %>
        <%= submit_tag "Search", class: "btn btn-green mt-2" %>
  </div>
      

  <h2 class="mt-3 text-center">Bottom navbar</h2>

</div>

<div class="nav-bottom">
  <img src="app/assets/images/navbar/open-book.png" alt="">
</div>

<div class="container sm-12 px-4">
  <h2>Cards</h2>

  <div class="book-results-card d-flex">
    <div class="image" style="background-image: url('https://edit.org/images/cat/book-covers-big-2019101610.jpg')"></div>
    <div class="information p-3">
      <h2>Cien anios soledad</h2>
      <p>Gabriel Garcia Marquez</p>
      <div class="user-owner d-flex">
        <img src="" alt="">
        <p>John Doe <span>Berlin</span></p>
      </div>
      <div class="tags d-flex justify-content-between">
          <%= link_to "Fiction", "#", class: "btn genre" %>
          <%= link_to "Fiction", "#", class: "btn genre" %>
          <img src="" alt="">
      </div>
    </div>
  </div>

</div>
