<div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
  <%= link_to '#' do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <h1>Add a book</h1>

  <%= link_to '#' do  %>
    <i class="fas fa-ellipsis-v"></i>
  <% end %>
</div>


<div class="container app-container">

  <div class="text-center d-flex my-4">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control white-bar b-sh text-center",
          id: "search-autocomplete",
          placeholder: "Search title, author..."
        %>
  </div>

  <div id="results">
    <!-- HERE WOULD GO THE JS INJECTION -->
  </div>



  <div style="height: 150px;"></div>

  <div>

    <%= simple_form_for(@book) do |f| %>

      <%= f.input :title, as: :hidden %>
      <%= f.input :author, as: :hidden %>
      <%= f.input :year, as: :hidden %>
      <%= f.input :isbn, as: :hidden %>
      <%= f.input :genre, as: :hidden %>
      <%= f.input :language, as: :hidden %>
      <%= f.input :description, as: :hidden %>
      <%= f.input :page_count, as: :hidden %>
      <%= f.input :thumbnail_url, as: :hidden %>

    <div class="book-cover b-sh-strong my-4"
         id="form-book-thumbnail_img"
         style="background-image: url('')">
         <i class="fas fa-heart add-wishlist t-sh"></i>
    </div>

    <h2 id="form-book-title"></h2>
    <p id="form-book-author"></p>
    <p id="form-book-year"></p>

    <div>
      <select name="condition" id="condition">
        <option value="good">Good</option>
        <option value="bad">Bad</option>
      </select>
    </div>


      <%= f.submit %>

    <% end %>

  </div>

</div>

<%= render 'shared/nav-bottom' %>

