<div class="book-results-card d-flex b-sh mb-3">
  <div class="image" style="background-image: url('<%= cl_image_path lib_book.book.photo.key %>')"></div>
  <div class="information p-3">
    <%= link_to library_book_path(lib_book) do %>
      <h2><%= lib_book.book.title %></h2>
    <% end %>

    <p><%= lib_book.book.author %></p>

    <div class="user-owner d-flex">
      <%= cl_image_tag lib_book.library.user.photo.key, class: "avatar-20 mr-2", alt: "avatar" %>
      <%= link_to user_path(lib_book.library.user) do %>
        <p class="name"> <%= lib_book.library.user.first_name.capitalize %>
      <% end %>
        <span class="span-location" style="font-style: italic; color: gray; font-weight: 300">
          <%= coordinates = Geocoder::Calculations.distance_between(Geocoder.coordinates(params[:query]), [lib_book.library.user.latitude, lib_book.library.user.longitude]).round(2) %>
          km away</span></p>
        </span>
      </p>
    </div>

    <div class="genre-pill genre">
        <!-- IF GENRE PREFILLED SEARCH WORKS, UNCOMMENT REPLACE WITH FIRST LINE-->
        <!--<%= link_to lib_book.book.genre , library_books_path("?genre=#{lib_book.book.genre}"), class: "btn genre mr-2" %> -->
        <%= lib_book.book.genre %>
    </div>


    <% if user_signed_in? %>

      <!-- if Book is not in User's library -> show add/remove Wishlist-->
      <% if !current_user.libraries.first.books.include?(lib_book.book) %>

        <!-- if Book is  in User's Wishlist -->
        <% if @wishlist_books.include?(lib_book.book) %>
          <%= link_to delete_wishlist_book_path(lib_book.is_in_wishlist(lib_book, current_user)), method: :delete, class: "heart btn-transparent" do %>
            <i class='fas fa-heart'></i>
          <% end %>

        <!-- if Book is not in User's Wishlist -->
        <% else %>
          <%= simple_form_for(@wishlist_book) do |f| %>
            <%= hidden_field_tag "book_id", lib_book.book.id %>
            <%= hidden_field_tag "wishlist_id", current_user.wishlists.first.id %>
            <div style="height: 0">
              <%= button_tag(class: "heart btn-transparent") do %>
                <i class='fas fa-heart' style="color:white"></i>
                <i class='far fa-heart'></i>
              <% end %>
            </div>
          <% end %>
        <% end %>

      <!-- if Book is in User's library -> show nothing -->
      <% end %>

    <% end %>


  </div>
</div>
