<div class="fafafa">
<div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
  <h1>Explore</h1>

  <%= link_to '#' do  %>
    <i class="fas fa-ellipsis-v"></i>
  <% end %>
</div>

<div class="container">

  <div class="text-center d-flex my-4 position-relative">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control white-bar b-sh text-center",
          placeholder: "Search..."
        %>
    <%= button_tag(class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
      <i class="fas fa-search"></i> 
    <% end %>
  </div>

  <div class="d-flex justify-content-between">

    <%= form_tag(library_books_path, method: :get) do %>
    <div class="text-center d-flex my-4 position-relative">
     <%= text_field_tag :title,
          params[:title],
          class: "form-control white-bar b-sh text-center",
          placeholder: "Search..."
        %>
    </div>
    <%=  select_tag :language, options_for_select(["English", "French", "Spanish"], selected: params["language"]), include_blank: "All languages"  %>
    <%=  select_tag :genre, options_for_select(["Fiction", "Non-Fiction", "Poetry", "Drama", "Science-Fiction"], selected: params["genre"]),  include_blank: "All genres"  %>
    
      <%= button_tag(class: "btn icon-primary mt-2 position-absolute", style: "top: -4px; right:6px") do %>
        <i class="fas fa-search"></i> 
      <% end %>

    <% end %>
  
        <a class="font-weight-bold black btn">A/Z</a>
  </div>

  <% @library_books.each do |lib_book| %>
  <div class="book-results-card d-flex b-sh my-4">
      <div class="image" style="background-image: url('<%= cl_image_path lib_book.book.photo.key %>')"></div>
      <div class="information p-3">

      <%= link_to library_book_path(lib_book) do %>
        <h2><%= lib_book.book.title %></h2>
      <% end %>
        <p><%= lib_book.book.author %></p>
        <div class="user-owner d-flex">
          <%= cl_image_tag lib_book.library.user.photo.key, class: "avatar-20 mr-2", alt: "avatar" %>

         <!--link should be black, not blue >> -->

         <%= link_to user_path(lib_book.library.user) do %>
           <p> <%= lib_book.library.user.first_name %>
         <% end %>

         <span style="font-style: italic; color: gray; font-weight: 300" class="span-location"><%= lib_book.library.user.location %></span></p>
        </div>
        <div class="tags d-flex">
            <%= link_to lib_book.book.genre , library_book_path(lib_book.book.genre), class: "btn genre mr-2" %> <%#<< This doesn't work  %>
        </div>
        <i class="fas fa-heart"></i>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/nav-bottom' %>
</div>
