<div class="nav-top d-flex px-4 pt-4 justify-content-between align-items-center">
  <%= link_to '#' do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <%= link_to '#' do  %>
    <i class="fas fa-ellipsis-v"></i>
  <% end %>
</div>

<div class="container app-container sm-12 p-4">

  <div class="book-cover b-sh-strong" style="background-image: url(' <%= cl_image_path @lib_book.book.photo.key%>')">
    <i class="fas fa-heart add-wishlist t-sh"></i>
  </div>

  <div class="book-info text-center">
    <h1><%= @lib_book.book.title %></h1>
    <h2><%= @lib_book.book.author %></h2>
    <p><%= @lib_book.book.year %> / <i class="far fa-file"></i>  <%= @lib_book.book.page_count %></p>
    <%= link_to @lib_book.book.genre.capitalize, "#", class: "btn genre" %>
  </div>

  <p style="color: gray; font-size:16px" class="mb-4"><%= @lib_book.book.description %></p>
  
  <div class="card-user-message d-flex b-sh align-items-center px-2 py-1">
    <%= image_tag 'https://res.cloudinary.com/dsz5gd9a3/image/upload/c_fill,h_140,w_140/v1615919274/pexels-taina%CC%81-bernard-3482526_vsfq1a.jpg',
            class: "avatar-30 mr-2", alt: "avatar" %>
    <div class="d-flex justify-content-between flex-grow-1 px-2">
      <h2><%= @lib_book.library.user.first_name %></h2>
      <p style="font-style: italic; color: gray; font-weight: 300"><%= @lib_book.library.user.location %></p>
      
      <% unless @lib_book.library.user == current_user %>
        <% if Chatroom.existing(@lib_book.library.user, current_user, @lib_book.book).empty? %>
          <%= simple_form_for @chatroom do |f| %>
            <%= f.input :recipient_id, as: :hidden, input_html: {value: @lib_book.library.user.id} %>
            <%= f.input :book_id, as: :hidden, input_html: {value: @lib_book.book_id} %>
            <button class="bg-transparent"><i class="fas fa-comment" style="font-size:20px"></i></button>
          <% end %>
        <% else %>
          <%= link_to chatroom_path(Chatroom.existing(@lib_book.library.user, current_user, @lib_book.book).first) do %>
            <i class="fas fa-comment" style="font-size:20px"></i>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<%= render 'shared/nav-bottom' %>
